/* Styling the body */
* {
    margin: 0px;
    padding: 0px;
}
/* Styling the first parallax's height, width and background color */
.parallax-1 {
    width: 100%;
    height: 600px;
    background: url('./img1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* Styling the title of first parallax */
.parallax-1 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 35px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}
/* Styling the second parallax's height, width and background color */
.parallax-2 {
    width: 100%;
    height: 600px;
    background: url('./img2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* Styling the title of second parallax */
.parallax-2 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 35px;
    padding: 10px;
    background-color: rgba(252, 252, 252, 0.2);
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, sans-serif, serif;
}
/* Styling the content or paragraph */
.para-1 {
    padding: 50px;
    background-color: black;
    color: white;
    font-size: 19px;
    font-
}
/* Styling the content or paragraph */
.para-2 {
    text-align: center;
    padding: 25px;
    font-size: 18px;
    font-family: Verdana, sans-serif, serif;
    background-color: black;
    color: white;
}
/* Styling applied to anchor */
a {
    text-decoration: none;
    color: rgb(250,250,150) !important;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #fafa96 50%
);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}  
a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}  
a:hover {
    background-position: 0;}  
a:hover::before{
    width: 100%;
}
/* Footer paragraph positioning */
footer p{
    text-align: end;
    font-size: 12px;
}